body {
  height: 100%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/1/10/Hot_pizza.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#total {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.header {
  font-variant: inherit;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}

.navbar {
  text-align: center;
}

.center-text {
  width: auto;
}

.small {
  float: right;
  font-size: 12px;
}

nav {
  height: 20px;
}

.info-wrap {
  position: relative;
}

.info-wrap .info-description {
  color: white;
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  padding: .5em;
}

.info-wrap:hover .info-description {
  display: block;
}

.logo {
  height: 100px;
  width: 100px;
}
